<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zifang.z.config.core.domain.mapper.ZClusterMapper">

    <!-- 基础结果集映射 -->
    <resultMap id="BaseResultMap" type="com.zifang.z.config.core.domain.entity.ZCluster">
                <id column="id" property="id" />
                <result column="service_id" property="serviceId" />
                <result column="name" property="name" />
                <result column="health_check_type" property="healthCheckType" />
                <result column="health_check_url" property="healthCheckUrl" />
                <result column="health_check_interval" property="healthCheckInterval" />
                <result column="metadata" property="metadata" />
                <result column="gmt_create" property="gmtCreate" />
                <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 基础查询字段 -->
    <sql id="Base_Column_List">
            id,
            service_id,
            name,
            health_check_type,
            health_check_url,
            health_check_interval,
            metadata,
            gmt_create,
            gmt_modified
    </sql>

    <!-- 新增语句 -->
    <insert id="insert" parameterType="com.zifang.z.config.core.domain.entity.ZCluster">
        INSERT INTO z_cluster (
                service_id,
                name,
                health_check_type,
                health_check_url,
                health_check_interval,
                metadata,
                gmt_create,
                gmt_modified
        ) VALUES (
                serviceId,
                name,
                healthCheckType,
                healthCheckUrl,
                healthCheckInterval,
                metadata,
                gmtCreate,
                gmtModified
        )
    </insert>

    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM z_cluster
        WHERE
                id = id
    </select>

    <!-- 更新语句 -->
    <update id="updateById" parameterType="com.zifang.z.config.core.domain.entity.ZCluster">
        UPDATE z_cluster
        SET
                service_id = serviceId,
                name = name,
                health_check_type = healthCheckType,
                health_check_url = healthCheckUrl,
                health_check_interval = healthCheckInterval,
                metadata = metadata,
                gmt_create = gmtCreate,
                gmt_modified = gmtModified
        WHERE
                id = id
    </update>

    <!-- 删除语句 -->
    <delete id="deleteById">
        DELETE FROM z_cluster
        WHERE
                id = id
    </delete>

</mapper>