<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zifang.z.config.core.domain.mapper.ZServiceInfoMapper">

    <!-- 基础结果集映射 -->
    <resultMap id="BaseResultMap" type="com.zifang.z.config.core.domain.entity.ZServiceInfo">
                <id column="id" property="id" />
                <result column="service_name" property="serviceName" />
                <result column="group" property="group" />
                <result column="namespace" property="namespace" />
                <result column="cluster_map" property="clusterMap" />
                <result column="cache_millis" property="cacheMillis" />
                <result column="health_check_mode" property="healthCheckMode" />
                <result column="health_check_timeout" property="healthCheckTimeout" />
                <result column="ip_delete_timeout" property="ipDeleteTimeout" />
                <result column="gmt_create" property="gmtCreate" />
                <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 基础查询字段 -->
    <sql id="Base_Column_List">
            id,
            service_name,
            group,
            namespace,
            cluster_map,
            cache_millis,
            health_check_mode,
            health_check_timeout,
            ip_delete_timeout,
            gmt_create,
            gmt_modified
    </sql>

    <!-- 新增语句 -->
    <insert id="insert" parameterType="com.zifang.z.config.core.domain.entity.ZServiceInfo">
        INSERT INTO z_service_info (
                service_name,
                group,
                namespace,
                cluster_map,
                cache_millis,
                health_check_mode,
                health_check_timeout,
                ip_delete_timeout,
                gmt_create,
                gmt_modified
        ) VALUES (
                serviceName,
                group,
                namespace,
                clusterMap,
                cacheMillis,
                healthCheckMode,
                healthCheckTimeout,
                ipDeleteTimeout,
                gmtCreate,
                gmtModified
        )
    </insert>

    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM z_service_info
        WHERE
                id = id
    </select>

    <!-- 更新语句 -->
    <update id="updateById" parameterType="com.zifang.z.config.core.domain.entity.ZServiceInfo">
        UPDATE z_service_info
        SET
                service_name = serviceName,
                group = group,
                namespace = namespace,
                cluster_map = clusterMap,
                cache_millis = cacheMillis,
                health_check_mode = healthCheckMode,
                health_check_timeout = healthCheckTimeout,
                ip_delete_timeout = ipDeleteTimeout,
                gmt_create = gmtCreate,
                gmt_modified = gmtModified
        WHERE
                id = id
    </update>

    <!-- 删除语句 -->
    <delete id="deleteById">
        DELETE FROM z_service_info
        WHERE
                id = id
    </delete>

</mapper>