<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zifang.z.config.core.domain.mapper.ZUsersMapper">

    <!-- 基础结果集映射 -->
    <resultMap id="BaseResultMap" type="com.zifang.z.config.core.domain.entity.ZUsers">
                <id column="username" property="username" />
                <result column="password" property="password" />
                <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 基础查询字段 -->
    <sql id="Base_Column_List">
            username,
            password,
            enabled
    </sql>

    <!-- 新增语句 -->
    <insert id="insert" parameterType="com.zifang.z.config.core.domain.entity.ZUsers">
        INSERT INTO z_users (
                password,
                enabled
        ) VALUES (
                password,
                enabled
        )
    </insert>

    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM z_users
        WHERE
                username = username
    </select>

    <!-- 更新语句 -->
    <update id="updateById" parameterType="com.zifang.z.config.core.domain.entity.ZUsers">
        UPDATE z_users
        SET
                password = password,
                enabled = enabled
        WHERE
                username = username
    </update>

    <!-- 删除语句 -->
    <delete id="deleteById">
        DELETE FROM z_users
        WHERE
                username = username
    </delete>

</mapper>